@import url("components/card.css");
@import url("components/container.css");
@import url("components/table.css");
@import url("components/tab.css");
@import url("components/hero.css");
@import url("components/navbar.css");
@import url("components/web.css");
@import url("components/footer.css");

body {
  color: rgb(39, 37, 37);
  background-color: #FFF7ED!important;
}

h1, h2, h3, h4, .hero-nav {
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 6rem!important;
}

h2 {
  color: #B37548!important;
  font-size: 3rem!important;
}

h3 {
  font-size: 14rem!important;
}

h4 {
  font-size: 4rem!important;
}

@media (max-width: 540px) {
  .container, .container-hero {
    min-width: 300px;
    justify-content: flex-start;
  }

  .hero-hi {
    justify-content: flex-start;
  }

  .vertical-center {
    display: block!important;
  }

  h3 {
    font-size: 10rem!important;
  }

  h4 {
    font-size: 2rem!important;
  }

  .img-tools {
    max-width: 90px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .nav-item {
    height: 25vh;
    margin-right: 0px;
  }

  .nav-item:hover {
    padding-right: 10px!important;
    box-shadow: -10px 4px 0px #B37548!important;
  }

  .nav-link {
    font-size: 1rem!important;
  }
}

/* @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}/
