.img-profile {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-hero {
  width: 1000px;
  height: 200px;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
  background-color: white;
  border: 1px solid #F5BCCF;
  border-radius: 10px;
}

.card-hero-content {
  text-align: left;
  padding-left: 10px;
  width: 700px;
  padding-top: 10px;
}

.card-middle {
  background-color: white;
  padding: 40px 40px;
  border: 1px solid #F5BCCF;
  border-radius: 10px;
}

.card-content {
  text-align: center;
  border: 1px solid #F5BCCF;
  border-radius: 10px;
  background-color: white;
  padding: 40px 20px;
}

.card-portfolio {
  width: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.card-bottom {
  width: 1000px;
  background-color: white;
  border: 1px solid #F5BCCF;
  border-radius: 10px;
}

.img-portfolio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 5px;
}

.card-books {
  width: 1000px;
  background-color: white;
  border: 1px solid #F5BCCF;
  border-radius: 10px;
  padding-bottom: 30px;
}
