.container {
  width: 1000px;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
}

.container-middle {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px auto;
  list-style-type: none;
}

.container-portfolio {
  width: 1000px;
  margin: 10px auto;
}
