.hero-name {
  border-bottom: 1px solid rgb(39, 37, 37);
}

.hero-position {
  padding-top: 40px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-hi {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
