img {
  max-width: 6rem;
}

.dev-row {
  padding-bottom: 13px;
}

.img-tools {
  max-width: 130px;
}

img:hover {
  box-shadow: 10px 5px 0px rgb(39, 37, 37);
}

.tools-row {
  padding-bottom: 30px;
}

.col-skill, .col-tool {
  border-left: 1px solid rgb(39, 37, 37);
  border-top: 1px solid rgb(39, 37, 37);
}
